.contactUs {
    margin: 120px auto;
    max-width: 1920px;
    background: var(--color-primary);
    padding: 0 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1200px) {
    .container {
        /* align-items: flex-start; */
        /* justify-content: space-between; */
    }
}

.box {
    flex: 1;
    min-width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #FFF;
    padding: 60px 0;
}

.box .icon {
    font-size: 60px;
}
@media (max-width: 450px) {
    .box .icon {
        font-size: 40px;
    }
}

.box .info {

}

.box .info .text {
    font-family: var(--font-primary);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.box .info .boldText {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 46px;
}


@media (min-width: 1200px) {
    .box:nth-child(1),
    .box:nth-child(3) {
        background-image: url(/src/assets/contact-us-bg.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
    }

}

@media (max-width: 1200px) {
    .contactUs {
        background-color: #000;
        padding: 30px 25px;
    }
    .box {
        padding: 15px 0px;
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .contactUs {
        margin: 60px auto;
    }
}


p,a {
    margin: 0;
    padding: 0;
}